* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* Reset */
html {
  font-size: 18px;
}

p,
h1,
h2 {
  margin: 0;
}

/* */
h1 {
  font-size: 2rem;
}

main {
  font-size: 1rem;
  background-color: hsl(0deg, 0%, 60%);
  padding: 72px 0;
}

header {
  font-size: 1.25rem;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 72px 0;
}

.card {
  margin: 0 -16px;
  padding: 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card h2 {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin: -8px 0 24px -32px;
  padding: 16px 32px;
}

.intro-chunk {
  max-width: 400px;
}

.max-width-wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 625px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  margin-top: 16px;
  line-height: 1.5;
}
